body{
    width: 100%;
}
.row{
    display: flex;
}
.main{
    margin-top: 100px;
    width: 35%;
    background-color: darkblue;
    transition: 2s ease-in-out;
}
.main:hover{
    scale: 1.1;
}
button{
    transition: 1s ease-in-out;
}
button:hover{
    scale:1.1 ;
}
img{

    transition: 2s ease-in-out;
    width: 50%;
    height: 300px;
    
}
.sub{
    margin-top: 100px;
    margin-left: 150px;
}
img:hover{
  scale: 1.1;
}


