<div class="row w-100 ">
    <div class="col-4 " style="background-color:darkblue ;">
        <div class="list-group" >
            <button type="button" class="list-group-item list-group-item-action"><i class="fa-solid fa-user"></i>  Profile View</button>
            <button type="button" class="list-group-item list-group-item-action"><i class="fa-solid fa-sack-dollar"></i> Balance Enqury</button>
            <button type="button" class="list-group-item list-group-item-action"> <i class="fa-solid fa-money-bill-transfer"></i> Money Transfer</button>
            <button type="button" class="list-group-item list-group-item-action"> <i class="fa-solid fa-table"></i> Account Statement</button>
            <button type="button" class="list-group-item list-group-item-action"><i class="fa-solid fa-trash"></i> Delete Account</button>
            <button type="button" class="list-group-item list-group-item-action"><i class="fa-solid fa-person-walking-arrow-right"></i> Log Out</button>

          </div>
           <div class="text-center m-5" style="align-items:center;color: white; ">
            <i class="fa-solid fa-hand-holding-dollar fa-4x"></i>
           </div>
    </div>
    <div class="col-8 mt-3 text-center p-5">
        <h1>Enjoy Net Banking With <strong class="text-warning"> SBI </strong></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Neque accusamus voluptatibus fugiat culpa mollitia aspernatur 
             ratione inventore error est! Voluptates odit id qui culpa obcaecati at
              quibusdam eligendi saepe maiores!</p>
        <img class="w-50" src="https://i.postimg.cc/kMHJCgcH/Online-Concept-Vector-Hd-PNG-Images-Cartoon-Concept-Illustration-Of-Online-Banking-Service-Online.png" alt="">
    </div>
</div>
