<div class=" main w-50 container text-center border border-5 mt-5 p-2 ">
        <h1 class="text-center">Create New Account</h1>
    <input  type="text" id="b1" placeholder="Account Number" class="mt-2 w-75"><br><br>
    <input  type="text" id="b2" placeholder="User Name" class="mt-2 w-75"><br><br>
     <input type="password" id="b3" placeholder="Password" class="mt-2 w-75"> <br> <br>
    <input type="password" id="b4" placeholder="Conform Password" class="mt-2 w-75"> <br> <br>
    <button  type="submit" class="btn btn-success">Create</button>  <br>
    </div>


